auto-save-list
custome.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
*.out
*.o
*.loc
*.pyc
lib*.a
src/prod/cetb_file/test/EASE*nc
/include/cetb_file.h
/include/gsx.h
/src/prod/meas_meta_bgi/meas_meta_bgi
/src/prod/meas_meta_make/meas_meta_make
/src/prod/meas_meta_sir/meas_meta_sir
/src/prod/meas_undump/meas_undump
/src/sirlib/c/csirexample
*.dat
/src/prod/meas_meta_setup/meas_meta_setup
