auto-save-list
custome.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
*.out
*.o
*.loc
*.pyc
lib*.a
*.dat
/sample_data/CSU_JD061_1997/backup.GSX_CSU_SSMI_FCDR_V01R00_F13_D19970302_S0351_E0533_R10006.nc
/src/prod/meas_meta_bgi/meas_meta_bgi
/src/prod/meas_meta_make/meas_meta_make
/src/prod/meas_meta_setup/meas_meta_setup
/src/prod/meas_meta_sir/meas_meta_sir
/src/prod/meas_undump/meas_undump
/src/sirlib/c/csirexample
src/prod/cetb_file/test/EASE*nc
src/prod/cetb_file/test/NSIDC-0630*nc
/include/cetb_file.h
/include/gsx.h
/include/utils.h
/include/calcalcs.h
/include/sir_geom.h
/testing/AMSRE200*
/testing/CSU200*
/testing/RSS200*

